/* Fontes */
@font-face {
	font-family: 'nb';
	src: url('NB.woff') format('woff');
}
@font-face {
	font-family: 'nl';
	src: url('NL.woff') format('woff');
}

/* Geral */

body { background-image:url('../img/square.gif') }

.mega-title {
	text-align: center;
}
.mega-title h1 {
	font-size:70px;
	font-family: 'nb';
	padding: 30px 0;
	cursor: pointer;
}
/* Menu */

#main-menu, #posts {
	background:none;
	border:none;
	border-radius:0;
	border-bottom:solid 1px #000;
	box-shadow: none;
	background:rgba(255,255,255,0.4)
}

#main-menu {
	float:right;
}

#main-menu ul li {
	border-bottom: solid 3px #00b8d2;
}

#main-menu ul li:hover, #main-menu ul li:active {
	background-color:#00b8d2;
	border-color:#fff;
}

#main-menu ul li a {
	color:#000;
	font-family: 'Segoe UI Light', 'Segoe UI', sans-serif;
	text-shadow:none;
	font-size:1.3em;
}
#main-menu ul li a:hover, #main-menu ul li a:active {
	color:#fff;
}

/* Slide */

#main-slid { margin-top:20px }

#main-slid .carousel-inner {
		background:
		url('../img/bg-up.png') top left no-repeat,
		url('../img/bg-down.png') bottom right no-repeat,
		rgba(0,0,0,0.2);
}

#main-slid .carousel-inner .item {
	width:100%;
	text-align: center;
}
#main-slid .carousel-inner .item .title {
	width: 100%;
	font-size:4em;
	line-height: 1em;
	text-align: left;
	font-family: 'nb';
	margin-top:90px;
	color:#fff;
}
#main-slid .carousel-inner .item .title:first-letter {
	font-size: 1.4em;
}
#main-slid .carousel-inner .item .lead {
	padding:3%;
	color:#fff;
	font-family: 'nl';
	background:#b35;
	margin-top: 25px;
	border-left:solid 2px #b35;
}

/* A Equipe */

#equipe {
	background:url('../img/bg-icons.gif') repeat;
	border-bottom: solid 50px #b35; 
	padding-bottom:50px;
	margin-top:30px;
}
#equipe .mega-title h1 {
	color:#b35; border:none;
	padding-bottom: 3px;
	border-bottom: dashed 5px #000;
}
#equipe .widget .caption {
	margin-top:20px;
	background:rgba(0,0,0,0.3);
	padding:2%;
	border-bottom: solid 3px #b35;
	color:#fff;
}
#equipe .widget .caption h3 {
	text-align: center;
	border-bottom: dashed 1px #fff;
}
#equipe .widget .caption p {
	text-align: inherit;
	padding:2%;
}
#equipe .widget ul {
	padding:0; margin:0;
}
#equipe .widget ul li {
	list-style: none;
	border-bottom: dashed 1px #555;
}
#equipe .widget ul li img {
	width:25px;
	margin:2px;
}
#equipe .widget .thumbnail {
	border:none;
	box-shadow: none;
}
#equipe .widget .thumbnail .img-circle {
	padding:8px;
}
#equipe .widget .thumbnail .img-circle:hover {
	padding:0;
	border:solid 8px #b35;
}

/* Portfólio */

#portfolio {
	text-align:center;
	height:500px;
	background: url('../img/bg-up.png') top left no-repeat;
}
#portfolio img {
	margin-top: 150px;
	border-radius:100%;
	border: solid 20px #eee;
}

#portfolio .mega-title h1 {
	color:#000;
	padding:2%;
	margin-top:30px;
	border-bottom:solid 3px;
	border-top:solid 3px;
}

/* Contato */

#contato {
	background: url('../img/bg-down.png') bottom right no-repeat;
	padding-bottom:50px;
}
#contato form {
	padding:20px;
	background: rgba(0,0,0,0.3);
	border-radius:10px;
}
#contato form .mega-title h1 {
	color:#fff;
	border-bottom:solid 1px #fff;
}
#contato form .div2, #contato form .div1 {
	float:left;
	border-radius:0;
	margin:0;
	padding:0;
	border:none;
	text-align: center;
	background:rgba(0,0,0,0.3);
	color:#fff;
}
#contato form .div2 { width:50%; height: 50px; }
#contato form .div1 { width:100%; height:120px; }
#contato form button { width:100% }

/* Rodapé */

#rodape { 
	background: url('../img/house.png') center right no-repeat, #ddd;
	padding-top:1%
}
#rodape blockquote {
	float:right;
	margin-top:30px;
}
#rodape .infos ul li {
	padding:2%;
	list-style: none;
}
#rodape .infos ul li img {
	width:25px;
}


/* Posts */
#posts {
	padding: 1% 20% 1% 20%;
	margin: 1% 0 1% 0;
	border: none;
	font-size: 1.3em;
	font-family: 'Segoe UI', sans-serif
}


#posts .span4 { 
	width: 600px;
	position: relative; 
	margin-left: -300px;
	left: 50%;
}

#posts h2 {
	text-align: center;
}

#posts h2, #posts div.post-content {
	border: solid 3px #fff;
	border-left: none;
	border-right: none;	
}

#posts div.post-content {
	border-top: none;
}

#posts div#disqus_thread {
	margin-top: 10px;
}

/* Responsividade */

@media (max-width: 767px) {

	#main-slid .carousel-inner .item .title {
		text-align: center;
		font-family: 'nb';
		margin-top:0;
		color:#000;
	}

}

@media ( max-width: 650px ){
	#posts .span4 { 
		width: 200px;
		margin-left: -100px;
	}
}